body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 620px;
  margin: 39px auto;
}

ul.header__menu{
font-weight: bold;
font-size: 18px;
display: flex;
justify-content: space-between;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 0;
margin: 0;
}

.header__menu li {
  list-style-type: none;
}

.header__menu a {
  text-decoration: none;
  color: #FF0000;
}

.cover img {
  width: 100%;
  margin-bottom: 49px;
}

.intro {
  text-align: center;
  margin: 0 auto;
  max-width: 1145px;
}

.intro-title {
  margin-bottom: 38px;
  font-size: 22px;
  text-transform: uppercase;
}

.intro-text {
  display: inline-block;
  margin-block-start: 14px;
  margin-block-end: 14px;
  font-size: 16px;
}

.intro__btn {
  display: inline-block;
  padding: 18px 43px ;
  background: #FF0000;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 52px;
}

footer {
  margin-top: 82px;
  font-weight: bold;
font-size: 16px;
text-align: right;
margin-right: 105px;
}