* {
  box-sizing: border-box;
}

.container {
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 50px;
  background-color: #FFE4FF;
}

.post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.post__photo {
  background-image: url(avatar.jpg);
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.post__text {
  border-radius: 50px;
  background-color: #fff;
  padding: 20px 30px;
  margin: 35px 0px 10px 0px;
  width: 300px;
}
