*, 
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.woff2);
  font-weight: normal;
  font-display: swap;
}

.body {
  width: 100%;
  min-height: 100%;
  background-image: url(../images/star-wars-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  perspective: 500px;
  overflow: hidden;
}

.main {
  width: 500px;
  color: rgb(255, 208, 0);
  transform: rotateX(60deg);
}

.animation-text {
  font-family: "Roboto-Medium";
  font-size: 30px;
  line-height: 40px;
  animation: flying-text 30s ease-in infinite;
}

.animation-text h1, h3 {
  text-align: center;
}

@keyframes flying-text {
  0% {
      transform: translateY(100%);
      }
  90% {
      color: inherit;
      }
  100% {
        color: transparent;
        transform: translateY(-100%);
      }
}
