*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  margin: 61px 0 38px 0;
  text-decoration: none;
  font-size: 80px;
  color: #4BCAFF;
}

.header__logo-black {
  color: #000;
}

.header-nav {
  background: #35444F;
  margin: 0 0 50px 0;
}

.header-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
}



.header-nav__link {
  border-left: 1px solid #fff;
  padding: 26px 30px 19px;
  display: block;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header-nav__link:last-child {
  border-right: 1px solid #fff;
}

.header-nav__link:hover {
  background: #222F3A;
}

.main__inner {
display: flex;
justify-content: space-between;
}

.main-nav__list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  width: 345px;
  border: 1px solid #000;
}

.main-nav__link {
  padding-left: 44px;
  padding-top: 27px;
  padding-bottom: 27px;
  display: block;
  font-size: 27px;
  line-height: 27px;
  color: #000;
  text-decoration: none;
  margin: auto;
  transition: 0.3s all;
}

.main-nav__link:hover {
  background: #DBDBDB;
  padding-left: 90px;
  transition: 0.3s all;
}

.main__all {
  width: 885px;
}

.main__logo {
  border: 1px solid #000;
}

.main__logo__inner {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 529px;
  transition: 0.3s all;
}

.main__logo__inner:hover {
  transform: scale(1.2);
  transition: 0.3s all;
}

.main__text p {
  margin: 34px 0;
}

.main__text {
  font-size: 18px;
  ine-height: 24px;
  color: #2C2C2C;
  margin-bottom: 34px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
  padding: 0 40px;
  margin-bottom: 20px;
}

.footer-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  font-size: 28px;
  line-height: 28px;
}

.footer-nav__link {
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  padding-bottom: 10px;
}

.footer-nav__link:hover {
  color: #3181A6;
  border-bottom: 1px solid  #3181A6;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
}