*,
*::before,
*::after {
  box-sizing: border-box;
}

*:hover {
  transition: color 0.1s;
}

.body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* height: 100vh; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.header {
  width: 100%;
  color:white;
  margin-bottom: 17px;
}

.header__inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
}

.header__logo-link {
  text-decoration: none;
          /* height: 60px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
}

.header__logo-link:hover .header__logo-text{
  color:#F26522;
}

.header__logo-link:hover .header__logo-icon{
  background-image: url(../images/logo-active.png);
}

.header__logo-icon {
  width: 53px;
  height: 47px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.header__logo-icon-active {
  display: none;
  margin-right: 8px;
}

.header__logo-text {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
}

.header__logo-text_big {
  margin-top: 2px;
  font-size: 29px;
}

.header__logo-text_small {
  font-size: 18px;
}

.header__contacts {
  height: 53px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header__contacts > a{
  display: block;
  text-decoration: none;
  color: white;
  text-align: right;
}

.header__contacts > a:hover {
  color:#F26522;
}

.main {
  width: 100%;
}
.main__list {
  /* height: 560px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items:stretch;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-gap: 37px;
}

.main__item {
  text-align: center;
  list-style-type: none;
}

.main__item:hover .main__item-popup {
  visibility: visible;
  height: 55px;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main__item:hover .main__item-text {
  color: #F26522;
}

.main__item-link {
  text-decoration: none;
  display: block;
}

.main__item-img-popup {
  position: relative;
  overflow: hidden;
}

.main__item-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #FFF, #000);
  }

.main__item-popup {
  visibility: hidden;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: #F26522;
  bottom: 0;
  left: 0;
  padding: 7px 14px 16px 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main__item-popup::after {
  content: 'from';
  position: absolute;
  top: 7px;
  left: 16px;
  color: white;
  font-size: 10px;
}

.main__item-popup > p {
  display: block;
  margin: 0;
  line-height: 12px;
}

.popup-price {
  font-size: 20px;
}

.popup-details {
  font-size: 14px;
  padding-right: 26px;
  position: relative;
}

.popup-details::before {
  content: url(../images/arrow.png);
  width: 5px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
}


.main__item-text {
  display: block;
  color: white;
  padding: 20px 0 0 0;
  margin: 0;
}

.footer {
  margin-top: 48px;
  margin-bottom: 15px;
}

.footer__rights {
  display: block;
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: white;
}