*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.title {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 134px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
  margin-top: 48px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #313131;
}

.header__logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} 

.header__menu {
  flex: 2 0 4;
}

.header__logo-icon {
  background-image: url(/images/logo-img.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 27px;
  height: 27px;
  margin: 0 27px;
}

.header__logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #FFF;
}

.header__list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.header__link {
  color: #FFF;
  padding: 0 18px;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.3s all;
}

.header__link:hover {
  color: #14B9D5;
  transition: 0.3s all;
}

.header__search {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__search__inner {
  background-image: url(/images/search.svg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #000000;
  width: 68px;
  height: 100%;
  display: flex;
}

.cover__content {
  height: 380px;
  background-image: url(/images/header-bg.jpeg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

.static {
  height: 380px;
}

.cover__title {
  width: 100%;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #FFF;
  margin-top: 164px;
}

.cover__btn {
  display: flex;
  background-color: #89CA62;
  width: 170px;
  height: 55px;
  align-items: center;
  justify-content: center;
  margin: 44px 10px 0 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}
.cover__btn.blue {
  background-color: #14B9D5;
}

.cover__btn-link {
  color: #FFF;
}

.posts {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.posts__title {
  font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
margin: 49px 0 52px;
}
.posts__items {
  width: 1170px;
  height: 872px;
  display: flex;
  flex-flow: column wrap;
  justify-content:flex-start;
  align-content: space-between;
}

.post__link {
  display: flex;
  width: 370px;
  margin-bottom: 30px;
}

.post__link.post1 {
  height: 320px;
}

.post__link.post2 {
  height: 320px;
}

.post__link.post3 {
  height: 441px;
}

.post__link.post4 {
  height: 309px;
}

.post__link.post5 {
  height: 355px;
}

.post__link.post6 {
  height: 441px;
}

.post__item__inner {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.post__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 370px;
  height: 100%;
}

.post1 .post__image {
  background-image: url(../images/posts_vanglo-house.png);
}
.post2 .post__image {
  background-image: url(../images/posts_2.png);
}
.post3 .post__image {
  background-image: url(../images/posts_3.png);
}
.post4 .post__image {
  background-image: url(../images/posts_4.png);
}
.post5 .post__image {
  background-image: url(../images/posts_5.png);
}
.post6 .post__image {
  background-image: url(../images/posts_6.png);
}

.post__title {
  height: 61px;
  background-color: #fff;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}

.clients__content {
  background-image: url(/images/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.clients__title {
  margin-top: 106px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.clients__line {
  margin-top: 87px;
  width: 63px;
  height: 3px;
  background: #18B4CF;
}

.clients__logos {
  margin-top: 106px;
  display: flex;
  justify-content: center;
}

.clients__logo {
  
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center center;
  min-height: 50px;
  margin: 0 25px
}

.clients__logo.logo1 {
  background-image: url(/images/clients_1.png);
  width: 207px;
}
.clients__logo.logo2 {
  background-image: url(/images/clients_2.png);
  width: 135px;
}
.clients__logo.logo3 {
  background-image: url(/images/clients_3.png);
  width: 232px;
}
.clients__logo.logo4 {
  background-image: url(/images/clients_4.png);
  width: 141px;
}

.top-rated__content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.top-rated__title {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 134px;
}

.top-rated__items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-content: center;
  justify-content: flex-start;
  background-color: rosybrown;
}

.top-rated__item {
background-size:cover;
background-repeat: no-repeat;
min-height: 190px;
}

.top-rated__item.item1 {
  background-image: url(/images/top1.png);
}
.top-rated__item.item2 {
  background-image: url(/images/top2.png);
}
.top-rated__item.item3 {
  background-image: url(/images/top3.png);
}
.top-rated__item.item4 {
  background-image: url(/images/top4.png);
}
.top-rated__item.item5 {
  background-image: url(/images/top5.png);
}
.top-rated__item.item6 {
  background-image: url(/images/top6.png);
}
.top-rated__item.item7 {
  background-image: url(/images/top7.png);
}

.hot-news__desc-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353A3D;
  padding: 14px;
  text-align: right;
}

.hot-news__desc-name.top {
  text-align: center;
}


.hot-news__desc-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  padding: 15px;
}

.hot-news__content {
  display: grid;
  max-width: 1168px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  gap: 60px;
  grid-auto-rows: minmax(259px, auto);
}

.hot-news__content > div  {
  background-color:#F9F7F7;
}

.box1 {
  grid-column: 1/4;
}
.box2 {
  grid-column: 4;
}
.box3 {
  grid-column: 1/3;
}
.box4 {
  grid-column: 3/5;
}
.box5 {
  grid-column: 1/3;
}
.box6 {
  grid-column: 3/5;
}
.box7 {
  grid-column: 1;
}
.box8 {
  grid-column: 2/5;
}

.hot-news__link {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hot-news__link.left {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.hot-news__link.top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.3fr;
}

.hot-news__desc {
  font-display: grid;
  text-align: right;
}

.hot-news__photo {
  height: 259px;
}

.hot-news__photo.top {
  height: 210px;
}

.hot-news__photo.photo1 {
  background-image: url(/images/hot1.png);
}

.hot-news__photo.photo2 {
  background-image: url(/images/hot2.png);
}

.hot-news__photo.photo3 {
  background-image: url(/images/hot3.png);
}

.hot-news__photo.photo4 {
  background-image: url(/images/hot4.png);
}

.hot-news__photo.photo5 {
  background-image: url(/images/hot5.png);
}

.hot-news__photo.photo6 {
  background-image: url(/images/hot6.png);
}

.hot-news__photo.photo7 {
  background-image: url(/images/hot7.png);
}
.hot-news__photo.photo8 {
  background-image: url(/images/hot8.png);
}

.footer {
  margin-top: 77px;
  height: 80px;
  background-color: #000;
}

.footer__inner {
  display: grid;
  max-width: 1168px;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;

}

.footer__rights {
color: #FFF;
font-size: 13px;
justify-self: flex-start;
}

.footer__logo {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  
}
.footer__logo-icon {
background-image: url(/images/footer__logo.png);
width: 38px;
height: 24px;
justify-self: flex-end;
}

.footer__logo-text {
  background-image: url(/images/footer__text.png);
  width: 64px;
  height: 16px;
}