*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaBT';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/futura-extra-black-bt.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin-italic.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-latin-600.woff2');
  font-display: swap;
}

.wrapper {
  font-family: 'Open Sans Regular';
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
	overflow-y: auto;
	perspective: 50px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.heading {
  font-size: 60px;
  color: #14AFCA;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subheading {
  font-size: 18px;
  color: #424F57;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.top-triangle::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  border-right: 50vw transparent solid;
  border-left: 50vw transparent solid;
  border-top: 10vh white solid;
}

.side-triangle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 10vh transparent solid;
  border-right: 50vw white solid;
  border-left: 50vw white solid;
}

.cover {
  background: url(/images/bg1.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template: 
      '.' 50px
      'header' 
      'main-heading'
      /1fr;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.pseudo-background::before {
  content: '';
  position: absolute;
  background: rgba(0,0,0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner a{
  display: block;
  text-decoration: none;
}

.header__logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 75px;
  color: #424F57;
  font-size: 36px;
}

.header__logo span {
  color: #14AFCA;
  font-weight: 900;
  text-transform: uppercase;
}

.header {
  grid-area: header;
  padding: 40px 0px;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-left: 60px;
  text-decoration: none;
  color: #424F57;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #14AFCA;
  transform: scale(1.1);
}

.main-heading {
  font-family: 'FuturaBT';
  text-transform: uppercase;
  font-size: 50px;
  line-height: 70px;
  grid-area: main-heading;
  margin-top: 149px;
  margin-bottom: 135px;
  color: #fff;
  z-index: 1;
  transform: translateZ(-25px) scale(1.5);
}

.about {
  padding-top: 122px;
  padding-bottom: 90px;
}

.about-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
.companies {
  background: url(/images/bg2.jpg) center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.companies-inner {
  display: grid;
  padding: 125px 0px;
  grid-template:
      'header header header header'
      'logo1 logo2 logo3 logo4'
      'logo5 logo6 logo7 logo8'/ 1fr 1fr 1fr 1fr;
  align-items: center;
  z-index: 0;
  position: relative;
  gap: 70px 30px;
}

.companies-header {
  grid-area: header;
  color: white;
}

.companies-subheading {
  color: #fff;
}

.logo2 {
  width: 100%;
  height: 100%;
  background-image: url(../images/companies-logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2 img {
  transform: scale(0.9);
}

.meet {
  background: #fff;
  overflow: hidden;
}

.meet-inner {
  padding: 130px 0px;
  display: grid;
  grid-template: 
    'header header header' 
    'person1 person2 person3' / 1fr 1fr 1fr;
    place-items: center;
  gap: 0px 60px;
  align-items: flex-start;
}

.meet-header {
  grid-area: header;
}

.meet-card {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
}

.meet-card1 {
  grid-area: person1;
}
.meet-card2 {
  grid-area: person2;
}
.meet-card3 {
  grid-area: person3;
}

.meet-description {
  margin-top: 20px;
}

.testimonials {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}
.testimonials-inner {
  padding: 200px 0px;
  color: #fff;
}

.testimonials-subheading {

  color: #fff;
}

.testimonials-quote {
  font-family: 'Open Sans Italic';
  line-height: 28px;
  margin: 0 100px;
}

.testimonials-author {
  font-family: 'Open Sans Italic';
  font-weight: bold;
  line-height: 28px;
  text-align: right;
  margin-top: 30px;
  margin-right: 200px;
}

.footer-inner {
  padding: 100px 0px 88px;
  background-color: #fff;
}

.footer-formula {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  color: #424F57;
  letter-spacing: 2px;
  margin-bottom: 100px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 24px;
}

.footer-copyright span{
  font-weight: bold;
}